<p>new-recipe works!</p>
<div class="new-recipe-form">
  <label for="title">Title: </label>
  <input type="text" id="title">

  <br>
  <br>

  <label for="meals">Meal: </label>
  <select name="meals" id="meals">
    <option value="American">American</option>
    <option value="British">British</option>
    <option value="Cajun">Cajun</option>
    <option value="Canadian">Canadian</option>
    <option value="Chinese">Chinese</option>
    <option value="Cuban">Cuban</option>
    <option value="Egyptian">Egyptian</option>
    <option value="French">French</option>
    <option value="German">German</option>
    <option value="Haitian">Haitian</option>
    <option value="Indian">Indian</option>
    <option value="Italian">Italian</option>
    <option value="Japanese">Japanese</option>
    <option value="Jewish">Jewish</option>
    <option value="Kenyan">Kenyan</option>
    <option value="Korean">Korean</option>
    <option value="Latvian">Latvian</option>
    <option value="Mexican">Mexican</option>
    <option value="Polish">Polish</option>
    <option value="Russian">Russian</option>
    <option value="Scottish">Scottish</option>
    <option value="Spanish">Spanish</option>
    <option value="Swedish">Swedish</option>
    <option value="Thai">Thai</option>
    <option value="Turkish">Turkish</option>
  </select>

  <br>
  <br>

  <label for="yeild">Yeild: </label>
  <input type="number" id="yeild">

  <br>
  <br>

  <label for="prep-time">Time to make: </label>
  <input type="number" id="prep-time">

  <br>
  <br>

  <label for="type">Type of dish: </label>
  <select name="meal-type" id="type">
    <option value="Bread">Bread</option>
    <option value="Dessert">Dessert</option>
    <option value="Pasta">Pasta</option>
    <option value="Pizza">Pizza</option>
    <option value="Roast">Roast</option>
    <option value="Salad">Salad</option>
    <option value="Sandwich">Sandwich</option>
    <option value="Soup">Soup</option>
  </select>

  <br>
  <br>

  <label for="meal">Meal: </label>
  <select name="meal" id="meal">
    <option value="Breakfast">Breakfast</option>
    <option value="Brunch">Brunch</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
    <option value="Snack">Snack</option>
  </select>

  <br>
  <br>

  <label for="diets">Dietary concerns: </label>
  <div id="diets">
    <input type="radio" id="Vegetarian">
    <label for="Vegetarian">Vegetarian</label>
    <input type="radio" id="Vegan">
    <label for="Vegan">Vegan</label>
    <input type="radio" id="Dairy Free">
    <label for="Dairy Free">Lactose Intolerance</label>
    <input type="radio" id="Gluten Free">
    <label for="Gluten Free">Gluten Free</label>
    <input type="radio" id="Peanut Free">
    <label for="Peanut Free">Peanut Free</label>
    <input type="radio" id="Kosher">
    <label for="Kosher">Kosher</label>
    <input type="radio" id="Halal">
    <label for="Halal">Halal</label>
  </div>

  <br>
  <br>

  <label for="ingredients">Ingredients</label>
  <div *ngFor="let ingredient of ingredients">
    <p>{{ingredient.quantity}} {{ingredient.unit}} of {{ingredient.ingredient}}</p>
  </div>

  <div *ngIf="addNewIngredient">
    <p>New Ingredient</p>
    <input type="number">
    <select name="unit" id="unit">
      <option value="tsp">tsp</option>
      <option value="tbsp">tbsp</option>
      <option value="cup">cup</option>
      <option value="grams">grams</option>
    </select>
    of
    <input type="text">
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
    <button type="button" (click)="addNewIngredient = false">Cancel</button>
  </div>

  <button *ngIf="addNewIngredient === false"
  type="button" (click)="addNewIngredient = true">
    New Ingredient
  </button>

  <br>
  <br>

  <button type="button" (click)="goBack()">Go Back</button>
</div>
