<div class="new-recipe-form">
  <label for="title">Title: </label>
  <input type="text" id="title" [(ngModel)]="newRecipe.title">

  <br>
  <br>

  <label for="meal">Meal: </label>
  <select name="meal" id="meal" [(ngModel)]="newRecipe.meal">
    <option value="Breakfast">Breakfast</option>
    <option value="Brunch">Brunch</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
    <option value="Snack">Snack</option>
  </select>

  <br>
  <br>

  <label for="yeild">Yeild: </label>
  <input type="number" id="yeild" min="0" [(ngModel)]="newRecipe.yeild">

  <br>
  <br>

  <label for="prep-time">Time to make: </label>
  <input type="number" id="prep-time" min="0" [(ngModel)]="newRecipe.prep_time">

  <br>
  <br>

  <label for="type">Type of dish: </label>
  <select name="meal-type" id="type" [(ngModel)]="newRecipe.type">
    <option value="Bread">Bread</option>
    <option value="Dessert">Dessert</option>
    <option value="Pasta">Pasta</option>
    <option value="Pizza">Pizza</option>
    <option value="Roast">Roast</option>
    <option value="Salad">Salad</option>
    <option value="Sandwich">Sandwich</option>
    <option value="Soup">Soup</option>
  </select>

  <br>
  <br>


  <label for="Cuisine">Cuisine: </label>
  <select name="cuisine" id="cuisine" [(ngModel)]="newRecipe.cuisine">
    <option value="American">American</option>
    <option value="British">British</option>
    <option value="Cajun">Cajun</option>
    <option value="Canadian">Canadian</option>
    <option value="Chinese">Chinese</option>
    <option value="Cuban">Cuban</option>
    <option value="Egyptian">Egyptian</option>
    <option value="French">French</option>
    <option value="German">German</option>
    <option value="Haitian">Haitian</option>
    <option value="Indian">Indian</option>
    <option value="Italian">Italian</option>
    <option value="Japanese">Japanese</option>
    <option value="Jewish">Jewish</option>
    <option value="Kenyan">Kenyan</option>
    <option value="Korean">Korean</option>
    <option value="Latvian">Latvian</option>
    <option value="Mexican">Mexican</option>
    <option value="Polish">Polish</option>
    <option value="Russian">Russian</option>
    <option value="Scottish">Scottish</option>
    <option value="Spanish">Spanish</option>
    <option value="Swedish">Swedish</option>
    <option value="Thai">Thai</option>
    <option value="Turkish">Turkish</option>
  </select>

  <br>
  <br>

  <label for="diets">Dietary concerns: </label>
  <div class="diets">
    <span *ngFor="let diet of diets">
      <mat-checkbox [(ngModel)]="diet.checked">
        {{diet.name}}
      </mat-checkbox>
    </span>
  </div>

  <br>
  <br>

  <label for="ingredients">Ingredients</label>
  <div *ngFor="let ingredient of ingredients">
    <p>{{ingredient.quantity}} {{ingredient.unit}} of {{ingredient.ingredient}}</p>
  </div>

  <div *ngIf="addNewIngredient" class="new-ingredient">
    <p>New Ingredient</p>
    <input type="number" min="0" step="0.125" max="10" [(ngModel)]="newIngredient.quantity">
    <select name="unit" id="unit" [(ngModel)]="newIngredient.unit">
      <option value="tsp">tsp</option>
      <option value="tbsp">tbsp</option>
      <option value="cup">cup</option>
      <option value="grams">grams</option>
    </select>
    of
    <input type="text" [(ngModel)]="newIngredient.ingredient">
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
    <button type="button" (click)="cancelNewIngredient()">Cancel</button>
  </div>

  <button *ngIf="addNewIngredient === false"
  type="button" (click)="showNewIngredientForm()">
    New Ingredient
  </button>

  <br>
  <br>

  <label for="directions">Directions</label>
  <div *ngFor="let direction of directions">
    <p>{{direction}}</p>
  </div>

  <div *ngIf="addNewDirection" class="directions">
    <p>New Step </p>
    <textarea name="direction" id="direction" cols="30" rows="10" [(ngModel)]="newDirection"></textarea>
    <button type="button" (click)="addDirection()">Add Step</button>
    <button type="button" (click)="cancelNewDirection()">Cancel</button>
  </div>

  <button *ngIf="addNewDirection === false"
  type="button" (click)="showNewDirectionForm()">
    New Direction
  </button>

  <br>
  <br>

  <button type="button" (click)="createRecipe()">Save Recipe</button>

  <button type="button" (click)="goBack()">Go Back</button>
</div>
