
.recipe-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .delete {
    margin: 5px;
    padding: 5px;
    background-color: #FFEBC1;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255,235,193,1) 0%, rgba(255,242,215,1) 35%, rgba(255,235,193,1) 100%);
  }

}


